 <!-- ===============     START     =============== -->
<div id="top-nav">
  <div class="container">
   <header>
    <h1 id="brand"><span>The</span> Lannaman Reclaimation <span>Project</span></h1>
   <!-- ===============    START NAV    =============== -->
    <ul class="navigation">
     <li data-slide="1">Who Am I?</li>
     <li data-slide="2">How I Got Here</li>
     <li data-slide="3">Skill Set</li>
     <li data-slide="4">Projects</li>
     <li data-slide="5">Resume</li>
    </ul>
   </header>
</div>
</div><!-- End top-nav -->
<div class="clear"></div>