 <!-- ===============     START     =============== -->
<div id="top-nav">
   <header>
    <h1 id="brand">The Lannaman Reclaimation Project</h1>
   <!-- ===============    START NAV    =============== -->
    <ul class="navigation">
     <li data-slide="1">Who Am I?</li>
     <li data-slide="2">How I Got Here</li>
     <li data-slide="3">Projects</li>
     <li data-slide="4">Contact</li>
    </ul>
   </header>
</div><!-- End top-nav -->
<div class="clear"></div>