<!DOCTYPE html>
<!-- Project Name: The Lannaman Reclamation Project
Client: Derrick Lannaman
Author: Derrick Lannaman
Created:  12/28/2012 v1.0
Completed: -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">

		<title>The Lannaman Reclamation Project</title>

	</head>
	<body>
		<!-- Navigation is located in shared  -->

			<!-- =============== 		START SECTION 	 =============== -->

			<div class="slide" id="slide1" data-slide="1" data-stella-background-ratio="0.5">

				<div class="main-content">
					<div class="first-slide-content">
						<h1 class="intro">Hello. I am Derrick</h1>
					  <p>
							 &raquo;Full-stack Web Developer<br/>
								<span>Web Development Immersive(General Assembly) Alumni<br /></span>
								&raquo;Two-time Entreprenuer<br />
								<span>Chaser of Dreams</span>
						 </p>

							<p>
								My passion is the result of when web development dreams, entreprenuerial energy, the hunger for learning more, and raw determination collide.
							</p>
					</div><!-- End first-slide-content-->
				</div><!-- End main-content-->
				<div class="clear"></div>
		<div id="question-panel-1">
				<a class="button"  data-slide="2"><img class="down-arrow" id="down-arrow-1"></a>
				<a class="slide-title"><p class="main-question" id="question-1">Who am I?</p></a>


		</div>


			</div><!-- End Slide 1 -->

<!-- =============  -->

			<div class="slide" id="slide2" data-slide="2" data-stella-background-ratio="0.5">


				<div class="main-content">
					<div class="second-slide-content">
					<h1 class="intro">..doing in a place like this?</h1>
						<p>
							It started when my second business, Texas Crazy Wings needed a simple website. I had neither the time, nor most frustratingly, the basic knowledge of how to create it myself. So, I hired a designer who was able to translate <em>my concepts and ideas</em> into a website and thus, a seed was sown. Fast-forward a few years, and that small seed had grown into a full-fledged bloom of desire to become a full stack developer and turn ideas into living, breathing applications.
						</p>
					</div><!-- End second-slide-content-->
				</div><!-- End main-content -->

			<div id="question-panel-2">
				<a class="button" data-slide="3"><img class="down-arrow" id="down-arrow-2"></a>
				<span class="slide-title"><a class="main-question" id="question-2">What's a nice fella like me...</a></span>
			</div>

			</div><!-- End Slide 2 -->

<!-- =============  -->

			<div class="slide" id="slide3" data-slide="3" data-stella-background-ratio="0.5">


				<div class="main-content">
					<div class="third-slide-content">
					<h1 class="intro">The &#64;full_stack, baby!</h1>

					<div id="do-block">
						<code> <!-- This section creates the "code block" on slide3 -->
							 &lt;&#37; <span class="syntax-highlight1">&#64;full_stack</span>.each <span class="syntax-highlight">do</span> &#124;<span class="syntax-highlight1">skill</span>&#124;&#37;&gt; <br/>
							 	 &nbsp; &nbsp;<span>"#&#123;</span>&nbsp;<button id="result-btn">Get Skills</button>&nbsp;<span>&#125;"</span>
							 	  <br/>
							 &lt;&#37; <span class="syntax-highlight">end</span> &#37;&gt;
						</code>
				 </div>

					<div id="full-stack">
						<span class="quote"><%= @quote %></span>
						<%-	@full_stack.each do |skill| %>
							 	<span id="skill"><%=	skill %></span>
						<% end %>
						<span class="quote"><%= " and I continue to develop these skills, and more, everyday!" %></span><br/>

				 	<p>
				 		Plus, a fist full of gems:<br />
				 		pg, annotate, carrierwave, fog, AWS, pry <br/>
				 	</p>

						<p class="disclaimer">
							&#42;Solidly versed in these web technologies:
						</p>
				 </div><!-- End full-stack-->

					</div><!-- third-slide-content-->
				</div><!-- End main-content -->

			 <div id="question-panel-3">
				<a class="button" id="btn-3" data-slide="4"><img class="down-arrow" id="down-arrow-3"></a>
				<span class="slide-title"><a class="main-question" id="question-3">What Do Ya Know?</a></span>
			 </div>


			</div><!-- End Slide 3 -->

<!-- =============  -->

			<div class="slide" id="slide4" data-slide="4" data-stella-background-ratio="0">

				<!-- <a class="button" id="btn-4" data-slide="4"></a> -->
				<span class="slide-title">Projects</span>
				<p class="parallaxbg">This is the last text</p>
			</div><!-- End Slide 4 -->





			<!-- =============== 		START FOOTER 		 =============== -->


 			<footer>
				<p>Some Footer Text</p>
				<p class="disclaimer">&#42;to varying degrees(truth in advertising)</p>
			</footer>

		</div><!-- End  -->
	</body>
</html>