/*
Project Name: The Lannaman Reclamation Project
Client: Derrick Lannaman
Author: Derrick Lannaman
Created:  12/28/2012 v1.0
Completed:
*/

/* -----------------------------------------------------
 * GENERAL SETUP
 *-----------------------------------------------------*/

 /*FONTS*/
     @import url(http://fonts.googleapis.com/css?family=Cantata+One|Allura|Shadows+Into+Light|Great+Vibes|Fjalla+One|Cinzel+Decorative:400);


html, body {
     font-family: 'Fjalla One', sans-serif;
     width:  100%;
     height:  100%;
}

/*.container {
     margin:  0px auto;
     width:    960px;
}*/


.main-content {
     margin: 0px auto;
     width:    1060px;

     padding-top: 20px;
     margin-left: 40px;
     p {
       font-size: 40px;
       color:  #FFF;

     }
}

/*Button Element*/
img.down-arrow {
     background: url('orange_arrow.png') no-repeat center;
     width:    123px;
     height:   123px;
     opacity:  0.80;
     border-radius: 100%;
          &:hover {
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          cursor: pointer;
          opacity:  1;
          }
}

#down-arrow-1 {
     margin-top: 78px;
     display:  block;
     float:    right;
     margin-right:   50px;
}

#down-arrow-2 {
     margin-top: 0px;
     display:  block;
     float:    right;
     margin-right:   50px;
}

#down-arrow-3 {
     margin-top: 0px;
     display:  block;
     float:    right;
     margin-right:   50px;
}

/* -----------------------------------------------------
 * MAIN SECTION
 *-----------------------------------------------------*/

.slide {
     background-attachment: fixed;
     width:    100%;
     height:   100%;
     position: relative;
     box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
     border-top: 1px solid #FFF;
}

.slide-title {
     float: left;
     width: 900px ;
     margin-top:    20px;
     margin-left: 20px;
     font-size: 80px;
     font-weight:   bold;
     color:    rgba(255, 255, 255, 0.3);
          &:hover {
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          color:    rgba(255, 255, 255, 0.7);
          cursor:   pointer;
          }
}
/* -----------------------------------------------------
 * HEADER / NAVIGATION
 *-----------------------------------------------------*/
#top-nav {
     float:    left;
     z-index:  10;
     background: url('green_dust_scratch.png') center center;
     width:    100%;
     /*border-bottom: 1px solid #FFF;*/
     box-shadow: 0px 10px 10px rgba(51, 51, 51, 0.3);
     /*z-index: 10;*/
}

header {
     /*margin-top: 80px;*/
     /*margin-bottom: 60px;*/
}

#brand {
     font-family: 'Cinzel Decorative', cursive;
     color:    #FFF;
     font-size: 30px;
     text-shadow:   0px 2px 1px #00544B;
     margin-left: 496px;
}

.navigation {
     float:    left;
     width:    950px;
     z-index:  1;
}

.navigation li {
     float:    left;
     color: #00675C;
     display:  block;
     padding:  0 5px;
     line-height: 30px;
     margin-bottom: 2px;
     text-align: left;
     width: 140px;
     -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
          &:hover,.active {
          font-size: 18px;
          color:    #FFF;
          text-shadow:   0px 2px 1px #00544B;
          cursor: pointer;
          width: 140px!important;
          }
}

/* -----------------------------------------------------
 * LAYOUT - Slides
 *-----------------------------------------------------*/

/********************
     Slide 1
 ********************/

#slide1 {
     background-color:  #808CB0;
     margin-bottom: -100px;
     padding:  20px;
     position: relative;
     height:   33%;
     /*border-bottom: 10px solid #FFF;*/

}

.intro {
     font-family: 'Cantata One', serif;
     font-size: 63px;
     margin-bottom: -25px;
     color:  #FFF;
     text-shadow: 4px 2px 0 #2A3C72,
                  0px -1px 0 #2A3C72,
                  -1px 0px 0 #2A3C72,
                  2px 1px 0 #2A3C72;
}

.first-slide-content {
     margin: -65px 70px 20px 70px;
     text-shadow: 0px 0px 4px #000;
     span {
          padding-left: 42px;
     }
}


/********************
     Slide 2
 ********************/

#slide2 {
     background-color:  #ABD1D9;
     margin-top: 79px;
     margin-bottom: -100px;
     position: relative;
     height:   33%;
}

.second-slide-content {
     margin: 20px 70px;
     p {
          color: #2A3C72;
          text-shadow: 0px 0px 4px #FFF;
     }
}

/********************
     Slide 3
 ********************/

#slide3 {
     background-color:   #D9FFF7;
     margin-top: 99px;
     position: relative;
     height:   33%;
}


#slide3 .slide-title {
     color:    rgba(51, 51, 51, 0.15);
          &:hover {
          -webkit-transition: color .2s ease-in-out;
          -moz-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
          color:    rgba(51, 51, 51, 0.25);
          }
}

/********************
     "Code Block" on slide3
 ********************/
#skill {
     font-size: 40px;
     color:    red;
}
code {
     font-size: 30px;
     line-height: 45px;
     span {
          font-size: 40px;
     }
}
.syntax-highlight {
     color:    #FF8100;
     font-size: 30px;
     text-shadow:  0px 1px 1px #000;

}

.syntax-highlight1 {
     color:    blue;
     font-size: 30px;
}

#full-stack {
     margin-top: 30px;
     margin-left:   40px;
     font-size: 30px;
     text-shadow: 0px 0px 6px #FFF;
     .quote {
          color: #38808D;
     }
     p {
     font-size: 20px;
     color:    #38808D;
     margin-left: 30px;
     }
          #disclaimer {
          font-family: 'Shadows Into Light', cursive;
          font-size: 14px;
          }
}

#full-stack p:nth-of-type(2) {
     font-family: 'Shadows Into Light', cursive;
     color: red;
     padding-left: 20px;
}



#do-block {
     margin: 40px;
     background: #FFF;
     border: 10px solid #38808D;
     border-radius: 20px;
     padding: 20px;

}

#result-btn {
     width:  200px;
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#569700), to(#84E900));
     border-radius: 10px;
     border: 1px solid #FFF;
     color:  #FFF;
     box-shadow: 0px 1px 1px #000;
     text-shadow:  0px 1px 1px #000;
     &:hover {
      -webkit-transition: all .1s ease-in-out;
     }
       &:active {
            text-shadow: -1px -1px 1px #000;
            box-shadow: inset 0px 1px 5px #000;
            border: 1px solid #999;
            color:  #F1F1F1;
       }
}

/********************
     Slide 4 - PROJECTS
 ********************/
.fourth-slide-content {
     margin-left:   80px;
     margin-bottom: -100px;
}

#slide4 {
     background: #FFE591;
     position: relative;
     height:   33%;
}

#slide4 .view-project {
     position: absolute;
     right: 40px;
     top: 140px;
     font-size: 28px;
     color: rgba(51, 51, 51, 0.3);
}


#slide4 .slide-title {
     margin-top:    85px;
     color:    rgba(51, 51, 51, 0.15);
          &:hover {
          -webkit-transition: color .2s ease-in-out;
          -moz-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
          color:    rgba(51, 51, 51, 0.25);
          }
}

.project {
     /*float:    left;*/
     width:    370px;
     height:   200px;
     margin: 20px 10px 10px 30px;
     border-radius: 10px;
     box-shadow: 0px 0px 20px #666;
}

.light-box {
     float:    left;
     width:    467px;
     height:   279px;
     margin-left:   22px;
     margin-bottom: 70px;
     background-color: #FFF;
     border:   20px solid rgba(0,0,0, 0.1);
     padding:  0px;
     border-radius: 10px;

     -moz-background-clip: border;
     -webkit-background-clip: border;
     background-clip: border-box;

     -moz-background-clip: padding;
     -webkit-background-clip: padding;
     background-clip: padding-box;

     -moz-background-clip: content;
     -webkit-background-clip: content;
     background-clip: content-box;

}
.light-box-caption {
     position: relative;
     top: 7px;
     left: 16px;
     width:    400px;
     height:   75px;
     background: rgba(230, 206, 130, 0.5);
     border:   2px solid rgba(230, 206, 130, 1);
     p {
          color:    #FFF;
          font-size: 12px;
          text-align: center;
          margin-top:    -10px;
     }

     h3 {
          margin-top: 18px;
          color:    #FFF;
          text-align: center;
     }
}


#screenshots {
     margin-top: 10px;
     margin-bottom: 5px;
}

/********************
     Slide 5 - RESUME
 ********************/

#slide5 {
     background-image:url('whitediamond.png');
     /*font-family: 'Cinzel Decorative', cursive;*/
     font-family: 'Cantata One', serif;
     font-size: 14px;
     padding-left: 40px;
     padding-right: 40px;
     margin-bottom: 20px;
}

#slide5 h2 {
     text-align: center;
     opacity: .4;
     padding:  5px;
     border-bottom: 1px solid #000;
}

/* -----------------------------------------------------
 * MISC
 *-----------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Scott Kellum image replacement for sprites
     add to: nav li a *
     text-indent:   100%;
     white-space:   nowrap;
     overflow: hidden;
*/

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}






